<!-- A1 despues de importar los db 
vamos a crar los modelos de ambos -->
<!-- A2 luego vamos a crear componentes luego en rutas A3 -->

<!-- A4  en la terminal creamos los servicios ng generate service Escritores --skipTests
=> escritores.service.ts A5-->
<router-outlet></router-outlet>



<!-- C1 primero vamos a crear el servicio para recuperar los libros
luego empezamos po => libros.service.ts  C2-->

<!-- C2 en el libros service importamos el array LIBROS -->
<!-- C3 luego podemos crear diferentes metodos para interactuar -->
<!-- C4  para tener una nueva ruta hija creamos un nuevo componente ListaLibros
nos dirigimos a => approuting C5-->
<!-- C5 para la ruta hija le agregamos la propiedad children...ya teniendo 
    la ruta hija vmaos al html padre en concreto => detalle.comp.html C6 -->
<!-- C6 le ponemos un  router-outlet  ahora para crear y 
    visualizar la lista de libros  ...
    PASO 1 nos vamos a inyectar el servicio al ts de listalibros D1-->